<h1>Book 세부 보기</h1>

<h2>책 이름 : {{object.title}}</h2>
저자 : {{object.author|linebreaks}}
출판사 : {{object.publisher|linebreaks}}
출판일 : {{object.publication_date|linebreaks}}

<hr>
<button onclick="location.href='/book/update/{{object.id}}/'">수정</button>
<button onclick="location.href='/book/delete/{{object.id}}/'">삭제</button>

<hr>
<img src='/media/20190122_100520.jpg' width="100" height="100" />
<img src='/media/{{book.photo}}' width="100" height="100" />
<img src='/media/{{book.photo2}}' width="100" height="100" />
<img src='/media/{{book.photo3}}' width="100" height="100" />

{% if book.photo %}
   <img src='/{{book.photo.url}}' width="100" height="100" />
   <img src='/{{book.photo2.url}}' width="100" height="100" />
   <img src='/{{book.photo3.url}}' width="100" height="100" />

{% else %}
 이미지가 없어요
{% endif %}